@media (max-width: 75em) {
  html {
    font-size: 59%;
  }

  .main-nav-list {
    gap: 1.8rem;
  }

  .logo {
    width: 15%;
  }

  .second-heading {
    font-size: 4.8rem;
  }

  .testamonial-section-container {
    padding: 8.8rem;
  }

  .footer-main {
    gap: 13rem;
  }

  .testa01 {
    column-gap: 3.2rem;
  }
}

@media (max-width=60.6em) {
  html {
    font-size: 54%;
  }

  .main-nav-list {
    gap: 1.2rem;
  }
}
