/*****************************/
/*GENERAL COMPONENT*/
/*****************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 5.2rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

strong {
  font-weight: 600;
}

/*****************************/
/*header section*/
/*****************************/

.header {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.header-logo {
  height: 10rem;
  width: 14rem;
  background-color: #f8f9fa;
}

.main-nav-list {
  display: flex;
  gap: 3.2rem;
  list-style: none;
}

.btn-main-nav:link,
.btn-main-nav:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  background-color: #fff;
  color: #f08c00;
  transition: all 1s;
  border-radius: 9px;
}
.btn-main-nav:hover,
.btn-main-nav:active {
  color: #e67700;
  background-color: #f8f9fa;
}

.fill-btn-nav:link,
.fill-btn-nav:visited {
  background-color: #f08c00;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.fill-btn-nav:hover,
.fill-btn-nav:active {
  background-color: #e67700;
}
