/*****************************/
/*GENERAL COMPONENT*/
/*****************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 5.2rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

strong {
  font-weight: 600;
}

/*****************************/
/*header section*/
/*****************************/

.header {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
  max-width: 140rem;
  margin: 0 auto;
}

.header-logo {
  height: 10rem;
  width: 14rem;
  background-color: #f8f9fa;
}

.main-nav-list {
  display: flex;
  gap: 3.2rem;
  list-style: none;
}

.btn-main-nav:link,
.btn-main-nav:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  background-color: #fff;
  color: #f08c00;
  transition: all 1s;
  border-radius: 9px;
}
.btn-main-nav:hover,
.btn-main-nav:active {
  color: #e67700;
  background-color: #f8f9fa;
}

.fill-btn-nav:link,
.fill-btn-nav:visited {
  background-color: #f08c00;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.fill-btn-nav:hover,
.fill-btn-nav:active {
  background-color: #e67700;
}

/*****************************/
/*HERO SECTION*/
/*****************************/

.hero-section {
  background-color: #f8f9fa;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.first-heading {
  font-size: 5.2rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
}
.hero-discrioption {
  font-size: 2rem;
  color: #303030;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.btn-main:link,
.btn-main:visited {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-color: #f08c00;
  padding: 1.4rem 2.8rem;
  border-radius: 0.9rem;
  transition: all 1s;
}
.btn-notmain:link,
.btn-notmain:visited {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  color: #333;
  background-color: #fff;
  padding: 1.4rem 2.8rem;
  border-radius: 0.9rem;
  box-shadow: inset 0 0 0.2rem #f1f3f5;
  transition: all 1s;
}
.btn-main:hover,
.btn-main:active {
  background-color: #e67700;
}
.btn-notmain:hover,
.btn-notmain:active {
  background-color: #dee2e6;
}
.img-01 {
  width: 100%;
  border-radius: 2rem;
}
.margin-right-btn {
  margin-right: 1.6rem !important;
}

.deliver-post {
  display: flex;
  align-items: center;
  margin-top: 8rem;
}

.deliver-imgs {
  display: flex;
}
.deliver-imgs img {
  transition: all 0.2s;
  height: 5.2rem;
  width: 5.2rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #dee2e6;
}
.deliver-imgs img:hover {
  transform: scale(1.2);
}

.deliver-imgs img:last-child {
  margin: 0;
}

.deliver-text {
  font-size: 1.8rem;
  margin-left: 0.8rem;
}

.deliver-text span {
  font-weight: 700;
  color: #e67700;
}

/*****************************/
/*FEATHURE SECTION*/
/*****************************/

.feacher-heading {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 3.2rem 0;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 20%;
  filter: brightness(170%);
  opacity: 50%;
}

/*****************************/
/*HOW IT WORK SECTION*/
/*****************************/

.section-how {
  padding: 9.6rem 0;
}

.second-heading {
  font-size: 5.2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 4.8rem;
}

.before-second-heading {
  display: block;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #e67700;
  font-weight: 500;
  letter-spacing: 0.15rem;
  margin-bottom: 2.4rem;
}

.how-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.how-img-box::before,
.how-img-box::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.how-img-box::before {
  width: 80%;
  padding-bottom: 76%;

  background-color: #f1f3f5;
  z-index: -2;
}

.how-img-box::after {
  width: 60%;
  padding-bottom: 56%;
  background-color: #dee2e6;
  z-index: -1;
}

.how-img {
  width: 50%;
  border-radius: 9px;
}

.number-herding {
  font-size: 9.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 0.8rem;
}

.third-heading {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

.how-discription {
  font-size: 2rem;
  line-height: 1.6;
}

/*****************************/
/*BIOGRAPHY SECTION*/
/*****************************/

.bio-section {
  padding: 9.6rem 0;
}

.center {
  text-align: center;
}

.lists {
  border-radius: 1.1rem;
  overflow: hidden;
  box-shadow: 0 4.8rem 3.2rem rgba(0, 0, 0, 0.1);
}

.list-img {
  width: 100%;
}

.mewether-img {
  height: 45%;
}

.list-name {
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
}

.bio-lists {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.bio-list {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.before-list-span {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.24rem;
  margin-bottom: 1.6rem;
  background-color: #f76707;
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 0.9rem;
  color: #fff;
}

.ineer-box-bio-section {
  padding: 3.2rem;
}

.list-bio-icon {
  height: 3rem;
  width: 3rem;
  color: #333;
}

.lists-a-n-boxer {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  padding: 2rem;
}

.list-a-n-boxer {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.icon-boxer-top-l {
  width: 3rem;
  height: 3rem;
  color: #e67700;
}

.see-more-bio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.8rem;
}

.see-more-btn:link,
.see-more-btn:visited {
  font-size: 1.8rem;
  color: #e67700;
  font-weight: 600;
  text-decoration: underline;
}

/*****************************/
/*testamonial SECTION*/
/*****************************/

.testamonial-section {
  background-color: #f1f3f5;
  display: grid;
  grid-template-columns: 55fr 45fr;
}

.testamonial-section-container {
  padding: 9.6rem;
}

.testa01 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.2rem;
  column-gap: 4.8rem;
}

.poeple-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.people-speech {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  line-height: 1.4;
}

.poeple-name {
  font-size: 1.8rem;
  color: #6f6f6f;
}

.galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.img-galery-items {
  display: block;
  overflow: hidden;
}

.galery-img01 {
  width: 100%;
  transition: all 0.4s;
}

.galery-img01:hover {
  transform: scale(1.1);
}

/*****************************/
/*PRICE SECTION*/
/*****************************/

.pricing-section {
  padding: 9.6rem 0;
}

.plan-01,
.plan-02 {
  padding: 6.4rem;
  border-radius: 11px;
  width: 85%;
}

.plan-01 {
  border: 3px solid #dee2e6;
}

.plan-02 {
  background-color: #f1f3f5;
  position: relative;
  overflow: hidden;
}

.plan-02::after {
  content: "Best value";
  background-color: #ffd43b;
  color: #333;
  padding: 1.2rem 8rem;
  font-size: 1.8rem;
  font-weight: 600;
  position: absolute;
  top: 5%;
  right: -15%;
  transform: rotate(45deg);
}

.plan-01-01 {
  justify-self: end;
}

.plan-header {
  text-align: center;
  margin-bottom: 3.2rem;
}

.plan-name {
  font-size: 1.6rem;
  font-weight: 700;
  color: #e67700;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-bottom: 4.8rem;
}

.plan-price {
  font-size: 6.4rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.plan-price span {
  font-size: 4rem;
}

.plan-text {
  font-size: 1.8rem;
  color: #6f6f6f;
}

.pricing-btn-section {
  text-align: center;
  padding: 1.8rem;
}

.feature-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #e67700;
  margin-bottom: 3.2rem;
  background-color: #dee2e6;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.feature-text-before {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
}

.margin-bottom-feacture {
  margin-bottom: 4rem !important;
}

/*****************************/
/*call to action SECTION*/
/*****************************/

.forme-section {
  padding: 9.6rem 0 40rem 0;
}

.cta-container {
  background-color: #f08c00;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(
    to right bottom,
    #f59f00,
    #f69200,
    #f78400,
    #f77600,
    #f76707
  );
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.35);
  border-radius: 11px;
  overflow: hidden;
}

.cta-img-box {
  background-image: linear-gradient(
      rgba(245, 159, 0, 0.2),
      rgba(246, 148, 0, 0.2),
      rgba(247, 132, 0, 0.2) 00,
      rgba(247, 119, 0, 0.2),
      rgba(247, 103, 7, 0.2)
    ),
    url(img/form-photo.jpg);
  background-size: cover;
}

.cta-taxt-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #301c00;
}

.cta-taxt-box .second-heading {
  color: #301c00;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #301c00;
}

.cta-form-01 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3.2rem;
  column-gap: 4.8rem;
  padding: 3.2rem;
}

.cta-form-01 label {
  font-size: 1.6rem;
  font-weight: 600;
  color: #301c00;
  margin-bottom: 11.2rem;
}

.cta-form-01 input,
.cta-form-01 select {
  display: block;
  width: 100%;
  padding: 1.2rem;
  font-family: inherit;
  font-size: 1.8rem;
  border-radius: 0.9rem;
  border: none;
  color: #333;
}

.cta-form-01 input::placeholder {
  color: #aaa;
}

.btn-sign-up {
  font-size: 1.8rem;
  background-color: #333;
  color: #fce8cc;
  font-weight: 600;
  border: none;
  border-radius: 0.9rem;
  align-self: end;
  padding: 1.2rem;
}
.btn-sign-up:hover {
  background-color: #fff;
  color: #301c00;
}

/*****************************/
/*FOOTER SECTION*/
/*****************************/

.footer-section {
  padding: 9.6rem 0;
  border-top: 3px solid #bbb;
}

.footer-main {
  display: flex;
  gap: 18rem;
}

.social-section-icon {
  display: flex;
  gap: 2.4rem;
  padding: 1.8rem 5.8rem;
}

.footer-icon-soc {
  width: 3.2rem;
}

.footer-logo {
  width: 25rem;
  padding-left: 0.2em;
}

.header-footer {
  font-size: 3.2rem;
  font-weight: 700;
  padding: 4rem 0 0 2.4rem;
}

.email-logo-footer {
  width: 4rem;
}

.ad-footer-d {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  justify-content: center;
  padding: 3.2rem 0 0 2.4rem;
}

.email-of-orgamization {
  font-size: 2.4rem;
  font-weight: 500;
}

.about-list {
  font-size: 2.4rem;
  padding: 3.2rem 0 0 4.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.last-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.4rem;
  margin-top: 9rem;
  text-transform: uppercase;
  color: #888;
}
